.Cell {
  height: 100px;
  width: 100px;
  background-position: center;
  background-image: url("cell.jpg");
  background-size: 100px;
  cursor: grab;
}
.Cell:active {
  cursor: grabbing;
}

.Cell-lit {
  background-color: white;
  border: solid darkgray 0.5px;
  box-shadow: inset 0 0 0 50px yellow;
  filter: blur(15px);
}